<html>
<head>
  <meta charset="UTF-8">
  <Title>{{pageTitle}}</Title>

</head>
<body>
  {{> header}}
  <p>{{pageBody}}</p>
  <p>Here is the information about this page</p>
{{> footer}}
</body>
</html>
